<ul class="title-area">
  <li class="name">
    <h1><a href="#">Marionette Boilerplate</a></h1>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
</ul>

<section class="top-bar-section">
  <ul class="right">
    <li class="divider"></li>
    <li><a href="#">{{bar 'Welcome'}}</a></li>
    <li class="divider"></li>
    <li><a href="/#libraries">{{foo 'Libraries'}}</a></li>
    <li class="divider"></li>
    <li><a href="/#hello">{{foo 'Hello'}}</a></li>
  </ul>
</section>
