<div class="small-12 medium-12 large-12 columns">
  <h1>{{title}}</h1>
    <p>{{t 'libraries.you.now.have'}}</p>
    <ul class="list">
    </ul>

    <p>{{t 'libraries.installed'}}</p>
    <p>{{t 'libraries.enjoy.coding'}}</p>
</div>
